/*clients*/

.piple {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.svg-clients:not(:last-child) {
  margin-right: 30px;
}

.imeges {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.imeges {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imeges:hover,
.imeges:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
