/*team*/

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.team-list:not(:last-child) {
  margin-right: 30px;
}

.team-list > .size-two {
  background-color: #ffffff;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 24px;
}

.group-list:not(:last-child) {
  margin-right: 10px;
}

.group-title {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.group-title:hover,
.group-title:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  border-radius: 50%;
}

/*our team*/
.employees {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

.employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.employees {
  margin-top: 30px;
  margin-bottom: 10px;
}
